.jumbotron{
	background-color:skyblue;
	color:black;
	margin-top: 50px;

}   

footer{
	padding: 10px 10px 0 10px;
	background-color: skyblue;
	margin-bottom: 0px;
	margin-top: 10 px;
}
.card-hotel{
		flex: 1 150px;
		padding: 2px 5px 2px 5px;
		margin-top: 10 px;
}
.btn-reserva{
	width: 100%;
	border-radius: 5x;
	color: white;
}

.btn-info{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.btn-outline-succsess{
	background-color:white;
	color: black;
	border: 2px solid #4caf50;
	width: 100%;
	border-radius: 5x;
}

.btn-succsess{
	background-color:white;
	color: black;
	border: 2px solid #4caf50;
	width: 20%;
	border-radius: 4px;

}