.jumbotron {
  background-color: #5dc1b9;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #58FAAC;
  margin-top: 10;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 5x;
  color: white;
}
.btn-info {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.btn-outline-succsess {
  background-color: #FF0000;
  color: black;
  border: 2px solid #4caf50;
  width: 100%;
  border-radius: 5x;
}
.btn-succsess {
  background-color: #F4FA58;
  color: black;
  border: 2px solid #4caf50;
  width: 20%;
  border-radius: 4px;
}
