$skyblue: #5dc1b9; 
$red: #FF0000; 
$green: #58FAAC; 
$yellow: #F4FA58; 

@mixin margenes($top,$bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color:$skyblue;
	color:black;
	@include margenes(5px,0px);

}   

footer{
	padding: 10px 10px 0 10px;
	background-color:$green;
	@include margenes(10px,0px);
}
.card-hotel{
		flex: 1 150px;
		padding: 2px 5px 2px 5px;
		@include margenes(10px,0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 5x;
	color: white;
}

.btn-info{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

.btn-outline-succsess{
	background-color:$red;
	color: black;
	border: 2px solid #4caf50;
	width: 100%;
	border-radius: 5x;
}

.btn-succsess{
	background-color:$yellow;
	color: black;
	border: 2px solid #4caf50;
	width: 20%;
	border-radius: 4px;

}